body {
      background-color: #FFFFE0; /* warna kuning cerah */
      font-family: Arial, sans-serif; /* jenis huruf yaang bersih dan mudah di baca */
      color: #191970; /* warna teks utama (biru gelap) */
}

.kartu-profil {
  width: 40pxds
  margin: 500px auto /*500px jarak atas/bawah, auto menengahkan kanan/kiri */
    padding: 20px:
backgraound-color: white;
border-radius: 15px; /* membuat sudut menjadi melengkung */
box-shadow: 0 4px 8px rgba(0,0,0,1); /* efek bayangan */
text-align: center; /* menengahkan semua texs di dala kartu */
}
.kartu-profil img {
  width: 150px;
  border-radius: 50%; /* Trik untuk membuat gambar persegi menjadi lingkaran sempurna
}
